name: Java CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: action/checkout@v3

      - name: setup JDK 11
        uses: actions/setup-java@v3

        with:
          java-version: '11'
          distribution: 'adopt'
          cache: maven

      - name: test with maven
        run: mvn test
